@charset "utf-8";
/* CSS Document */
html {overflow-y: scroll;}
@font-face          /* the creative-commons logos are done using embedded fonts */
                {font-family: "CC Icons";
                 src: url("fonts/cc-icons.svgz#cc") format("svg"),
                      url("fonts/cc-icons.ttf")     format("truetype");}
/*change highlight color*/
::-moz-selection        {background-color: #FFCC33; color: #eee; text-shadow: none;}
::selection             {background-color: #FFCC33; color: #eee; text-shadow: none;}
h2 {
		background-color:#666666; 
		width:525px; color:#FFFFFF; 
		padding-top:15px; 
		padding-right:25px; 
		text-align:right;
		font-size:12px;
		margin-bottom:0px;
	}
#images {
	padding-top:6px;
	padding-left:2px;
	
	}

#wrapper {
	margin-left: auto; margin-right: auto;
	width:800px; 

}
#menu_bar{
	width:180px; height:350px; 
	color:#333333; background-color:white; 
	margin-top:40px; 
	padding-left:20px; padding-top:20px;
	-webkit-box-shadow:0px 0px 10px grey;/*values- horosontal, vertical, blur, color*/
}
#socal-icons{ 
	margin-right:0; width:180px; right:auto; float:right; text-align:right; margin-top:20px;
}

#pagetitle{
	width:655px; 
	height:30px;
	margin-left:145px;
	text-align:right;
	position:absolute;
	top: 95px;
	font-size:55px;
	text-shadow:-3px -2px #333333;
	font-family:Arial, Helvetica, sans-serif
}
body {
	background-image: url(../images/background.png);
	background-color:white;
	background-repeat: repeat-x;
	color:grey;
}
#content{
	background-color:white; 
	margin-bottom:20px;
	width:560px; 
	float:right; 
	margin-top:10px; 
	border:medium; border-color:#00FF00; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px; padding-left:10px;
	/*-webkit-box-shadow:0px 0px 10px grey;/*values- horosontal, vertical, blur, color*/
}
#colorbar{
	; position:absolute; left:0px; top:175px; background-image:url(../images/colorband.png); width:100%; height:5px;
}	

h1{ 
	margin-top:5px;
	margin-bottom:27px;
	font-size:28px;
	background-color:#333333;
	color:#FFFFFF;
	width:300px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#threedeegalleryheader {color:#EEEEEE;}
#theedee {
	margin-top:30px;
	font-size:70px;
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:500px;
	float:right;
	top:60px;
	position:static;
	}
#videos{
	text-align:left;
}
