@charset "utf-8";
/* CSS Document */
/*Created by Alastair Low*/

body { background-color:#666666; font-family:Verdana, Arial, Helvetica, sans-serif;
		background:url(../images/background4.png) fixed;
	}

.page {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
}
.header {
	background-color:#000000;
	color:#8C620B;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	padding-left: 7%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Courier New", Courier, monospace;
}
.main {
	background-color:#FFFFFF;
	padding:10px;
}
.main img{ border:0; padding:5px;}

.imagebox { text-align:center;}

.footer {
	background-color:#000000;
	color:#999999;
	text-align:center;
	padding:20px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
 }

.footer a { color:#999999; text-decoration:none; }

h2 {
	background-color:#000000;
	color:#FFFFFF;
	padding-left:15%;
}

#logo {
	position:absolute;
	left:70%;
	top:-8px;
	width:243px;
	height:213px;
	z-index:1;
}
