@charset "utf-8";
/* CSS Document */
/*Created by Alastair Low*/

body { background-color:#666666; font-family:"Courier New", Courier, monospace;
		background:url(../images/background4.png) fixed;
	}

.page { width:750px; margin-left:auto; margin-right:auto; }
.header { background-color:#000000; color:#999999; padding:20px;}
.main { background-color:#FFFFFF; padding:10px;}
.main img{ border:0; padding:5px;}

.imagebox { text-align:center;}

.footer { background-color:#000000; color:#999999; text-align:center; padding:20px; }
.footer a { color:#999999; text-decoration:none; }

h2 { background-color:#000000; color:#FFFFFF; padding-left:5px;}